.lmj-banner2 {
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-bottom: solid 3px rgb(255, 0, 0);
}

.lmj-banner2 img {
margin-top: -50px;
margin-bottom: -80px;
}