* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

/* .App {
  height: 100vh;
  display: flex;
  flex-direction: row;
} */

.forms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6d6f72;
  height: 68.1vh;
}

form {
  display: block;
  position: relative;
}

form::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #b17b6e, #f30f53);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  width: 90%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #b17b6e 50%,  #b17b6e 50%, #f30f53);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100%;
  max-width: 480px;
  background-color: #FFF;
  padding: 15px 30px;
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #FE4880;
  font-weight: 700;
}