.SignForm {
    margin-top: 50px;
}

.profil {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.left {
    max-width: 40%;
}

.right {
    max-width: 40%;
}

.Forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}